body {
    background-color: lightgray;
  }
  
  h1{
    font-family: "Times New Roman", Times, serif;
    font-size: 300%;
  }
  
  p{
    font-family: "Times New Roman", Times, serif;
    font-size: 150%;
  }
  
  